.footer{
  padding-bottom: 65px;
}
.footer__line{
  border-top: 4px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
}

.footer__col{
display: flex;
align-items: flex-start;
}

.footer__col--align-right{
  display: flex;
  align-items: flex-end;
}

.footer__logo{
  padding-top: 45px;
}

.footer__menu{
  padding-top: 57px;
  padding-right: 271px;
}

.social{
  margin-right: 69px;
  padding-top: 49px;
}

.footer__social{
  display: inline-block;
  margin-right: 6px;
}

.footer__social:last-child{
  margin-right: 0px;
}

.footer__social-tg{
  width: 36px; height: 36px;
  background: url(../../img/sprite.png) -122px -10px;
}

.footer__social-tg:hover{
  width: 36px; height: 36px;
  background: url(../../img/sprite.png)-122px -66px;
}

.footer__social-vk{
  width: 36px; height: 36px;
  background: url(../../img/sprite.png) -10px -122px;
}

.footer__social-vk:hover{
  width: 36px; height: 36px;
  background: url(../../img/sprite.png) -66px -122px;
}

.footer__social-fb{
  width: 36px; height: 36px;
  background: url(../../img/sprite.png) -10px -10px;
}

.footer__social-fb:hover{
  width: 36px; height: 36px;
  background: url(../../img/sprite.png) -66px -10px;
}

.footer__social-in{
  width: 36px; height: 36px;
  background: url(../../img/sprite.png) -10px -66px;
}

.footer__social-in:hover{
  width: 36px; height: 36px;
  background: url(../../img/sprite.png) -66px -66px;
}

.footer__contacts-free{
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #9A9A9A;
  text-align: right;
}

.footer__phone{
  font-weight: 400;
  font-size: 26px;
  line-height: 20px;
  color: #fff;
}




